{% extends 'base.html' %}

{% block title %} Демонстрация полей формы {% endblock %}

{% block content %}
    <form action="" method="post"> <!-- Действие не прописаны. Хотим получить post запрос тудаже где был get запрос -->
        {% csrf_token %} <!-- Тэг - токен, секретный ключ, защита от CSRF атак -->
        {{ form.as_p }} <!-- вывод формы. as_p - каждый элемент формы мы хотим видеть внутри тэга абзац html страницы
        т.е - каждый элемент будет в <p></p> -->
        <input type="submit" value="Отправить"> <!-- кнока отправить и ещё тип -->
    </form>
{% endblock %}